@use './UserSideBar.module.scss' as userSideBar;
.suggestionItem {
   display: flex;
   padding: 8px 0 ;
   align-items: center;
   img {
     width: 32px;
     height: 32px;
     border-radius: 50%;
     margin-right: 12px;
     object-fit: cover;
   }

   div {
     display: flex;
     flex: 1;
     justify-content: space-between;

     .userInfo {
       font-size: 1.3rem;
       h4 {
         font-weight: 500;
         width: fit-content;
         cursor: pointer;
         border-bottom: 1px solid transparent;
         transition: 0.3s;
         margin-bottom: 3px;

         &:hover {
           border-bottom: 1px solid black;
         }
       }
       p {
         color: var(--grey-text-color);
         font-size: 1.2rem;
       }
     }

     button {
       @include userSideBar.button;
       &.following {
          color: black !important;
       }
     }
   }
 }