@use "../StoryOverlay/StoryOverlay.module.scss" as *;

.postOverlay {
  @include noBackdropOverlay;
  background-color: rgba(38, 38, 38, 0.85);

  >svg {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  > button {
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
 }
}
