
.getApp {
  text-align: center;
  p {
    margin: 20px 0;
    font-size: 1.4rem;
    
  }
  .appWrap {
    display: flex;
    justify-content: center;
    img {
      height: 40px;
      width: auto;
      margin-right: 7px;
      cursor: pointer;
    }
    
  }
}