
.signUpSection {
  padding: 20px 0;
  text-align: center;
  border: 1px solid var(--light-grey-color);
  border-radius: 2px;
  font-size: 1.4rem;
  
  .signUpLink {
    color: #4B99F0;
    margin-left: 3px;
    font-weight: 600;
  }
}